<div class="info">
    <div class="basicInfo">
        <div class="name">姓名：&nbsp{{student.username}} &nbsp&nbsp</div>
        <div class="number">学号：{{student.number}} </div>
        <p class="id">{{student._id}}</p>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>题号</th>
            <th>题目内容</th>
            <th>回答内容</th>
        </tr>
    </thead>

    <tbody>
    {{#each data}}
    <!--<div class="examInfo">-->
    <tr>
        <td>{{questionId.number}}</td>
        <td>{{questionId.content}}</td>
        <td>{{answerCtn}}</td>
    </tr>
    <!--</div>-->
    {{/each}}
        </tbody>
    </table>
</div>
<div class="asset">
    <label style="margin-left: 10px">评分</label>
    <input style="width: 55px" class="form-control" placeholder="分值" id="grade">
    <button class="btn btn-primary" id="saveGrade">保存</button>
</div>
<script src="test/admin.js"></script>
