<section class="News">
    <div class="title"><a href="#">{{entries.title}}</a></div>
    <span class="release">
         <img class="user-img" src="{{entries.author.userThumb}}" alt="User Image">
        <b>发布于 {{formatDate entries.meta.createAt}}</b><i>{{timeFromNow entries.meta.createAt}}</i>
    </span>
    </span>
    <content><p> {{{entries.content}}}</p></content>
    <div class="button">
        <a href="#" class="btn btn-default btn-flat ">read more</a>
        <a href="#" class="btn btn-default btn-flat ">导出pdf</a>
    </div>
</section>
    <!--<section class="content">-->
      <!--<div class="box box-widget">-->
        <!--<div class="box-header with-border">-->
          <!--<div class="user-block">-->
            <!--<img class="img-circle" src="{{entries.author.userThumb}}" alt="User Image">-->
            <!--<span class="title"><a href="#">{{entries.title}}</a></span>-->
            <!--<span class="postdate"><b>发布于 {{formatDate entries.meta.createAt}}</b><i>{{timeFromNow entries.meta.createAt}}</i></span>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="box-body">-->
          <!--<p> {{{entries.content}}}</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->


